body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: goldenrod;
}

p {
    color: black;
}

.message-el {
    font-style: italic;
    font-size: 20px;
}

button {
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}
