@use "base" as *;

.new-item-entry {
    position: sticky;
    top: 0;
    margin-bottom: 1rem;
    padding: 0.75rem;

    form {
        display: flex;
        justify-content: space-between;
    }

    label {
        position: absolute;
        left: -10000px;
    }

    input[type="text"] {
        width: 80%;
        font-size: 1.25rem;
        border: 2px solid var(--textbox-bd);
        border-radius: 10px;
        padding: 0.75rem;
        outline: none;

        &:hover,
        &:focus {
            box-shadow: 4px 2px 5px black;
        }
    }

    button {
        font-size: 1.25rem;
        padding: 0.75rem;
        background-color: var(--add-button);

        @include mq(768px) {
            font-size: 1.5rem;
        }
    }
}
